/* style HTML page body element */
body {
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    background-color: #696969;
    color: #000000;
    padding: 3px;
}

/* style page header */
#head01 {
    height: 300px;
    text-align: center;
    font-size: 150px;
    background: linear-gradient(#0e166d, #0858e9, #11a2f6, #19f8a0);
    color: #f3c40e;
    padding: 65px 0; 
    margin: 0;   
}

/* style hr element */
hr {
    border-style: inset;
    border: 1px solid #e0dede;
}

/* style HTML element with id= main */
#main {
    margin: 0;
    padding: 15px 15px 5px 30px;
    background: linear-gradient(#ffffff, #f1f1f1);
    border-radius: 0 0 5px 5px;
}

/* style nav bar */
ul#menu {
    margin: 10px 0;     
}

ul#menu li {
    display: inline;
    margin-right: 3px;    
}

ul#menu li a {    
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    color: #000000;
    background-color: #ffffff;
}

/* set table width */
table {
    width: 100%;
}

/* style table */
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

th {
    text-align: left;
}

table tr:nth-last-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-last-child(even) {
    background-color: #ffffff;
}

#foot01 {
    text-align: center;
    color: #333333;
}